<section class="py-7 py-md-0 bg-login" id="login">
    <div class="container">
      <div class="row vh-md-100">

        <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4 login">Se connecter</p>

              <form class="mx-1 mx-md-4" style="background-color: transparent ">


                <div class="d-flex flex-row align-items-center mb-4">
                  <div class="form-outline flex-fill mb-0">
                    <input type="email" id="form3Example1" class="form-control" name="Email" placeholder="Email"   />
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <div class="form-outline flex-fill mb-0">
                    <input type="password" id="form3Example3c" class="form-control" name="Password" placeholder="Password" ngModel/>
                  </div>
                </div>

                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                  <button type="button" class="btn btn-success btn-lg" routerLink="/dashboard/store" >Login</button>
                </div>
                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 login">
                  <a routerLink="/user/sign_up" class="login"> Register</a>
                </div>


              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
